@{
    Layout = null;
    ViewBag.Title = "Dashboard";
}

<div class="app-view-header">Dashboard
   <small ng-bind="app.name + ' - ' + app.description"></small>
</div>
<div ng-controller="DashboardController" class="container-fluid">
   <div class="text-center">
      <h2>{{title}}</h2>
      <p>{{text}}</p>
   </div>
</div>
